._home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

._home-rigth h1, p {
  color: #052A44;
}

._home-rigth h1 {
  font-family: "Futura", sans-serif;
}

._home-rigth span {
  color: #63C7FD;
}

._home-btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

._home-btn a {
  margin-right: 1rem;
}

._home-left img{
  width: 100%;
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

._btn-linkc {
  padding: .9rem 3rem;
  border: solid 2px #969A9B;
  border-radius: .8rem;
  color: #052A44;
}

._btn-linkc:hover{
  background: #052A44;
  border: solid 2px #052A44;
  color: #fff;
}


._btn-linkb {
  padding: .9rem 3rem;
  border: solid 2px #63C7FD;
  background: #63C7FD;
  border-radius: .8rem;
  color: #fff;
}

._btn-linkb:hover {
  border: solid 2px #2f8cbe;
  background: #2f8cbe;
}

._home-cards{
  display: flex;
  margin-top: 13rem;
}

._home-cards p {
  padding: 2.4rem 3.4rem;
  max-width: 200px;
  border-radius: 8px;
  color: #fff;
  margin-right: 2rem;
  animation: float 8s ease-in-out infinite;
}
._cards-item:nth-child(1) {
  background: #EF5C53;
}

._cards-item:nth-child(2) {
  background: #FDD444;
}


._cards-item:nth-child(3) {
  background: #052A44;
}

@media (max-width:1300px) {

  ._home-cards{
    margin-top: 3rem;
  }

  ._home-left {
    margin-top: 9rem;
  }
}

@media (max-width:1200px) {
  ._home {
    flex-direction: column-reverse;
    justify-content: center;
  }

  ._home-rigth {
    text-align: center;
    margin-top: 4rem;
  }

  ._home-cards {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    animation: none;
  }

  ._home-left {
    display: flex;
    justify-content: center;
  }

  ._cards-item {
    margin-top: 3rem;
  }

  ._home-rigth h1 {
    font-size: 5rem;
  }

  ._home-btn {
    justify-content: center;
  }

  ._home-btn a {
    margin-bottom: 2rem;
  }

  ._home-left img{
    width: 80%;
  }

}

@media (max-width:1024px) {
  ._home-cards p {
    width: 80%;
    max-width: 100%;
    padding: 6.4rem ;
    animation: none;
  }

  ._home-left img{
    width: 80%;
  }
}
